body {
    font-family: Arial, sans-serif;
    background-color: #e0c8c4;
    padding: 20px;
    color: black;
}

h1, h2 {
    text-align: center;
    color: #0e0c0c;
}

form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0a090a;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d4857e;
}

#diet-plan {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(9, 9, 9, 0.1);
}
