body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #e0c8c4;
    color: #0a0909;
}

h1 {
    text-align: center;
    color: #000000;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d0c0d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d4857e;
}

h2, h3 {
    text-align: center;
}
